---
credentials: &openstack
  username:
  password:
  tenantName:
  domainName:
  userDomainName:
  authURL: https://gx-scs.okeanos.dev:5000/v3
  OS_AUTH_URL: https://gx-scs.okeanos.dev:5000/v3
  region: RegionOne
  bucketName: gardener

