---
credentials: &openstack
  username: ${clouds.auth.username}
  password: ${secure.auth.password}
  tenantName: ${clouds.auth.project_name}
  domainName: ${clouds.auth.project_domain_name}
  userDomainName: ${clouds.auth.user_domain_name}
  authURL: ${clouds.auth.auth_url}
  OS_AUTH_URL: ${clouds.auth.auth_url}
  region:  ${clouds.region_name}

landscape:
  name: ${cloud_provider}
  domain: ${dns_domain}
  cert-manager:
    email: ${letsencrypt_mail}
    server:
      url: ${letsencrypt_live ? "live" : "staging"}

  gardener:
    extensions:
      provider-openstack:
        valueOverwrites:
          config:
            etcd:
              storage:
                className: cinder-default
                capacity: 25Gi
                provisioner: cinder.csi.openstack.org
      networking-calico:
        valueOverwrites:
          vethMTU: 1400

  monitoring:
    active: true
    username: admin
    password: password

  cluster:
    kubeconfig: ./kubeconfig
    domain: ${dns_domain}
    iaas: openstack
    networks:
      nodes: 10.45.0.0/16
      pods: 10.44.0.0/16
      services: 10.43.0.0/16

  iaas:
    - name: openstack
      type: openstack
      mode: seed
      seedConfig:
        backup:
          active: ${backup_enabled}
      region: ${clouds.region_name}
      zones:
        - ${availability_zone}
      credentials: *openstack
      floatingPools:
        - name: ${public}
      loadBalancerProviders:
        - name: amphora
      useOctavia: true
      machineTypes:
        - name: ${flavor_worker}
          cpu: "${flavor_worker_cpu}"
          gpu: "0"
          memory: ${flavor_worker_memory}
          usable: true
          storage:
            class: default
            type: default
            size: ${flavor_worker_disk}
      machineImageDefinitions:
        - name: ubuntu
          versions:
            - version: 20.4.20201016
              image: ${image}
      machineImages:
        - name: ubuntu
          versions:
            - version: 20.4.20201016

  etcd:
    backup:
      type: swift
      credentials: *openstack
      active: ${backup_enabled}

  identity:
    users:
      - email: admin@${dns_domain}
        username: admin
        password: ${pw}
