apiVersion: v1
kind: Config
current-context: gardenlet-bootstrap@default
clusters:
- cluster:
    certificate-authority-data: ${gardener_apiserver_ca}
    server: ${gardener_apiserver_server}
  name: default
contexts:
- context:
    cluster: default
    user: gardenlet-bootstrap
  name: gardenlet-bootstrap@default
users:
- name: gardenlet-bootstrap
  user:
    token: "${bootstrap_token_id}.${bootstrap_token_secret}"
