apiVersion: v1
stringData:
  domainName: ${clouds.auth.project_domain_name}
  password: ${secure.auth.password}
  tenantName: ${clouds.auth.project_name}
  username: ${clouds.auth.username}
kind: Secret
metadata:
  name: ${cloud_provider}-secret
  namespace: ${gardener_project_namespace}
type: Opaque
