apiVersion: core.gardener.cloud/v1beta1
kind: SecretBinding
metadata:
  labels:
    cloudprofile.garden.sapcloud.io/name: gx-citycloud
  name: gx-citycloud-secret
  namespace: garden-dev
secretRef:
  name: gx-citycloud-secret
  namespace: garden-dev
